* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
div {
  width: 100px;
  aspect-ratio: 1;
  background-color: salmon;
}
div:hover {
  transition: all 1s ease-out;
  transform: rotate(45deg);
  border-radius: 100%;
}
