<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Layout</title>

</head>

<body>
    <div class="rail">
        <main>
            <div>
                <div class="orange"></div>
                <div class="grey"></div>
            </div>
            <div class="yellow"></div>
            <div>
                <div class="orange img"></div>
                <div class="orange img"></div>
                <div class="orange img"></div>
                <div class="orange img"></div>
            </div>
            <div>
                <div class="yellow"></div>
                <div class="yellow"></div>
            </div>
        </main>
        <footer></footer>
    </div>
</body>

</html>