* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*===================*/
/* BACKGROUND COLORS */
/*===================*/

.grid {
    background-color: black;
}

.item:nth-child(even) {
    background-color: aqua;
}
.item:nth-child(odd):not(:nth-child(5)) {
    background-color: green;
}

.item-large {
    background-color: orange;
}

/*===================*/
/*      LAYOUT       */
/*===================*/

/* Row */
.container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}

.item {
    width: calc(97% / 4);
}

.item-large {
    width: 100%;
}


/* Column */

/* .container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1%;
}

.item {
    height: calc(97% / 4);
}

.item-large {
    height: 100%;
    order: 1;
} */
