:root {
  --bg-color: green;
}

.premiere h1 {
  font-size: 50px;
  color: green;
}

.premiere h2 {
  font-size: 30px;
  font-weight: bold;
  color: brown;
}

.premiere p:nth-of-type(2) {
  background-color: var(--bg-color);
}

.deuxieme h2 {
  background-color: var(--bg-color);
}