:root {
    --color-bg-primary: #E6FDFF;
    --color-bg-primary-secondary: #DBF9F4;
    --color-primary-500: #B07bAC;
    --color-secondary-500: #5F7367;
}


* {
    padding: 0;
    margin: 0;
    font-family: roboto, sans-serif;
}

body {
    background-color: var(--color-bg-primary);
    display: flex;
    flex-direction: column;
}

h1, header {
    color: var(--color-primary-500);
    font-size: 2em;
    font-weight: 600;
}

header {
    background-color: var(--color-bg-primary-secondary);
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;   
}

nav {
    display: flex;
    width: 20%;
    min-width: 400px;
    justify-content: space-evenly;
}

main {
    width: 900px;
    align-self: center;
    display: flex;
    justify-content: center;

    padding: 100px 20px;

    font-size: 1.5em;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

li::before {
    content: "-";
    padding: 0 5px;
}

li > em {
    font-style: normal;
    font-weight: 600;
}