* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #efe784;
  color: #efe784;
}
.wrapper {
  min-width: 320px;
  max-width: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.wrapper h2 {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}
.wrapper header {
  background-image: url(img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 960 / 350;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.wrapper header img {
  width: 50%;
}
.wrapper header p {
  font-size: 1.25em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.7em;
}
.wrapper article {
  padding: 10%;
}
.wrapper article *:not(:last-child) {
  margin-bottom: 5%;
}
.wrapper article p:first-of-type {
  line-height: 1.5em;
}
.wrapper article img {
  display: block;
  width: 100%;
  max-width: 600px;
}
.wrapper article:not(.intro) :last-child {
  font-size: 0.7em;
}
.wrapper .intro {
  background-color: #3e3838;
  padding: 5% 17%;
  text-align: center;
  font-weight: 300;
}
.wrapper .intro h2 {
  width: fit-content;
  margin: auto;
  border-bottom: 1px solid #efe784;
  border-top: 1px solid #efe784;
  padding: 1% 2%;
  margin-bottom: 5%;
  letter-spacing: 0.5em;
  direction: rtl;
  text-indent: -0.5em;
}
.wrapper .avengers {
  background-color: #fff;
  color: #6cbcb3;
}
.wrapper .avengers h2 {
  color: #6cbcb3;
}
.wrapper .avengers p:not(:last-child) {
  color: #3e3838;
}
.wrapper .star {
  background-color: #6cbcb3;
  color: #282828;
}
.wrapper .star :last-child {
  color: #FFF;
}
.wrapper .woman {
  background-color: #3e3838;
  color: #FFF;
}
.wrapper .woman img {
  max-width: 405px;
}
@media (min-width: 768px) {
  .wrapper article {
    padding: 5%;
  }
  .wrapper article:not(.intro) h2 {
    text-align: left;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 1%;
  }
  .wrapper article p:first-of-type {
    line-height: 2em;
  }
  .wrapper article:not(.intro) :last-child {
    font-size: 1em;
  }
}
