<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>grid1</title>
</head>

<body>
    <div class="wrapper">
        <header>Header</header>
        <main>
            <aside>sidebar</aside>
            <div class="box">Box1</div>
            <div class="box">Box2</div>
            <div class="box">Box3</div>
            <div class="main-content">Main-content</div>
        </main>
        <footer></footer>
    </div>
</body>

</html>