* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    display: inline;
    width: 60vw;
    height: 50vh;
}

div {
    display: inline;
}

.test {
    width: 39vw;
    font-size: 30px;
}

p {
    background-color: aliceblue;
    border: 2px solid red;
    font-size: 1rem;
}

a {
    font-size: 2em;
}