* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 20px;
    gap: 20px
}

.item {
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: blue;
    text-align: center;
    width: 100px;
    height: 100px;
}