

/* Définitions des couleurs utilisées dans le site */
:root {
    --background-color: #ff8500;
    --primary-0: #FFF;
    --primary-500: rgb(55,55,55);
    --primary-900: #000;
}

html {
    background-color: white;
}


body {
    background-color: var(--background-color);
    width: 800px;
    margin: auto;
    padding: 0 50px;
    font-family: roboto;
    font-weight: 300;  
    color: var(--primary-0);
    line-height: 30px;
}

h1, h2 {
    margin-top: 20px;    
    margin-bottom: 0;
    padding-top: 15px;
}

h1 {
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: 900;
}

h2, li {
    color: var(--primary-900);
}


ul {
    padding: 15px;
}

li {
    font-weight: 500;
}

.conseil {
    width: 70%;    
    margin-left: auto;
    padding: 10px 0;
    border-top: 1px solid var(--primary-500);
    border-bottom: 1px solid var(--primary-500);
    color: var(--primary-500);
    font-style: italic;
}


@media (width <= 900px) {
    body {
        width: 450px;
    }
}
