<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Layout</title>
</head>
<body>
    <div class="wrapper">
        <header></header>
        <main>
            <aside></aside>
            <article>
                <div class="image"></div>
                <div class="image"></div>
                <div class="image"></div>
            </article>
        </main>
        <footer></footer>
    </div>
</body>
</html>